<!-- start: PAGE TITLE -->
<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">Inicio</h1>
		</div>
		<div ncy-breadcrumb></div>
	</div>
</section>
<!-- end: PAGE TITLE -->
<div class="container-fluid container-fullw padding-bottom-10">
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-white no-radius">
				<br>
				<br>
				<h1><center><p>Bienvenido(a) al Sistema de Call Center de daRHe</p></center></h1>
				<br>
				<center><img src="assets/images/DARHE_BIG.jpg"></center>
				<br>
				<br>
			</div>
		</div>
	</div>
</div>
