/* ---------------------------------------------------------------------- */
/*  Page Title
/* ---------------------------------------------------------------------- */

#page-title {
    border-bottom: 1px solid #eee;
    padding: 50px 0;
    position: relative;
    margin-left: -15px;
    margin-right: -15px;

    @media (max-width: $screen-xs-max) {
        text-align: center;
        padding: 20px 0;
    }

    .row {
        margin: 0 15px;
    }

    h1 {
        color: #333;
        font-size: 28px;
        font-weight: 300;
        letter-spacing: 1px;
        line-height: 1;
        margin: 0;
        padding: 0;
        text-transform: uppercase;

        @media (max-width: $screen-xs-max) {
            font-size: 24px;
        }
    }

    .mainDescription {
        font-family: $font-family-secondary;
        color: #777;
        display: block;
        font-size: 18px;
        font-weight: 300;
        margin-top: 10px;

        small {
            font-size: 60%;
            margin-top: 10px;
            display: block;
        }
    }

    .breadcrumb {
        background-color: transparent !important;
        font-size: 12px;
        left: auto !important;
        margin: -30px 0 0 !important;
        padding: 0 !important;
        position: absolute;
        right: 30px !important;
        top: 50% !important;
        width: auto !important;
        font-family: $font-family-secondary;

        @media (max-width: $screen-xs-max) {
            left: 0 !important;
            margin: 15px 0 0 !important;
            position: relative !important;
            right: 0 !important;
            top: 0 !important;
        }
    }

    .breadcrumb > li + li {
        padding: 0 5px;
        position: relative;

        &:before {
            color: #FF3300;
            content: "/ ";
            padding: 0 5px;
        }
    }

    &.page-title-center {
        text-align: center;

        .breadcrumb {
            left: 0 !important;
            margin: 15px 0 0 !important;
            position: relative !important;
            right: 0 !important;
            top: 0 !important;
        }
    }
}
