<!-- start: MAIN NAVIGATION MENU -->
<div class="navbar-title">
	<span>Menú Principal</span>
</div>
<ul class="main-navigation-menu">
	<li ui-sref-active="active">
		<a ui-sref="app.inicio">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-home"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Inicio </span>
				</div>
			</div>
		</a>
	</li>
	<li ui-sref-active="active" ng-if="user.admin=='SI'">
		<a ui-sref="app.metas">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-thumb-up"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Metas </span>
				</div>
			</div>
		</a>
	</li>
	<li ui-sref-active="active" ng-if="user.invpros=='SI'">
		<a ui-sref="app.prospeccion">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-headphone-alt"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Prospección </span>
				</div>
				</div>
		</a>
	</li>
	<li ui-sref-active="active" ng-if="user.invpros=='SI'">
		<a ui-sref="app.calendario({tipo: 'ejecutivo'})">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-calendar"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Calendario del Ejecutivo</span>
				</div>
			</div>
		</a>
	</li>
	<li ng-class="{'active open':$state.includes('app.base')}" ng-if="user.admin=='SI'">
		<a href="javascript:void(0)">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-harddrives"></i>
				</div>
				<div class="item-inner">
					<span class="title" > Base de Datos </span><i class="icon-arrow"></i>
				</div>
			</div>
		</a>
		<ul class="sub-menu">
			<li ui-sref-active="active">
				<a ui-sref="app.base.abcontactos">
					<span class="title" > ABC Contactos </span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.base.asigempresas">
					<span class="title" > Asignación de Empresas </span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.base.exportmailing">
					<span class="title" > Exportar para Mailing </span>
				</a>
			</li>
		</ul>
	</li>
	<li ng-class="{'active open':$state.includes('app.dashboard')}" ng-if="user.tablerocontrol=='SI'">
		<a href="javascript:void(0)">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-panel"></i>
				</div>
				<div class="item-inner">
					<span class="title" > Dashboard </span><i class="icon-arrow"></i>
				</div>
			</div>
		</a>
		<ul class="sub-menu">
			<li ui-sref-active="active">
				<a ui-sref="app.calendario({tipo: 'administrador'})">
					<span class="title" > Calendario del Equipo </span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.dashboard.dashboard1">
					<span class="title" > Operación Diaria </span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.dashboard.metasmensual">
					<span class="title" > Metas Mensual </span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.dashboard.dashboard5">
					<span class="title" > Totales x Tipificación </span>
				</a>
			</li>
		</ul>
	</li>
</ul>

<!-- start: MENU CONTROL ACCESO -->

<div class="navbar-title" ng-if="user.admin=='SI' || user.user=='codigoti'">
	<span>Control de Acceso</span>
</div>
<ul class="main-navigation-menu" ng-if="user.admin=='SI' || user.user=='codigoti'">
	<li ui-sref-active="active">
		<a ui-sref="app.usuarios">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-user"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Usuarios </span>
				</div>
			</div>
		</a>
	</li>
</ul>
<!-- end: MENU CONTROL ACCESO -->


