<!-- start: SETTINGS -->
<button ct-toggle="toggle" target="settings" parent-active-class="active" class="btn btn-default">
	<i class="fa fa-spin fa-gear"></i>
</button>
<tabset class="tabbable">
	<tab heading="Interfase">
		<div class="panel-body ng-scope">
			<!-- start: FIXED HEADER -->
			<div class="setting-box clearfix">
				<span class="setting-title pull-left"> Encabezado Fijo</span>
				<span class="setting-switch pull-right">
					<switch ng-model="app.layout.isNavbarFixed" class="green"></switch>
				</span>
			</div>
			<!-- end: FIXED HEADER -->
			<!-- start: FIXED SIDEBAR -->
			<div class="setting-box clearfix">
				<span class="setting-title pull-left">Menú Fijo</span>
				<span class="setting-switch pull-right">
					<switch ng-model="app.layout.isSidebarFixed" class="green"></switch>
				</span>
			</div>
			<!-- end: FIXED SIDEBAR -->
			<!-- start: CLOSED SIDEBAR -->
			<div class="setting-box clearfix">
				<span class="setting-title pull-left" >Menú minimizado</span>
				<span class="setting-switch pull-right">
					<switch ng-model="app.layout.isSidebarClosed" class="green"></switch>
				</span>
			</div>
			<!-- end: CLOSED SIDEBAR -->
			<!-- start: FIXED FOOTER -->
			<div class="setting-box clearfix">
				<span class="setting-title pull-left">Pie de página fijo</span>
				<span class="setting-switch pull-right">
					<switch ng-model="app.layout.isFooterFixed" class="green"></switch>
				</span>
			</div>
			<!-- end: FIXED FOOTER -->
		</div>
	</tab>
	<tab heading="Script Investigación">
		<div class="panel-scroll height-350" perfect-scrollbar wheel-propagation="false" suppress-scroll-x="true">
<p><strong><u>SCRIPT INVESTIGACIÓN.</u></strong></p> <p>Buenos días-tardes.&nbsp;&nbsp; Me comunica con_______.</p> <p>De parte de_____</p> <p>Hablo de un grupo de asociaciones de Recursos Humanos. Y es una llamada de encuesta empresarial, para estadísticos de mejora en Recursos Humanos.</p> <p><strong><u>Si no es el contacto:</u></strong></p> <p>Le pido por favor, me pueda contactar con la persona encargada de Recursos Humanos (director o gerente de Recursos Humanos) de acuerdo a su organización.</p> <p>LLENAR CAMPOS CON NUEVO DATO (S).</p> <p><strong><u>Si es el contacto:</u></strong></p> <p>Estimado sr /srita. _________</p> <p>Mi nombre es __________________ Hablo de un grupo de asociaciones de Recursos Humanos.</p> <p>Y es una llamada de encuesta empresarial, para estadísticos de mejora en Recursos Humanos.</p> <p>La llamada es muy breve, y le pediré por favor nos ayude con esta encuesta, para mejorar la calidad de los proveedores, así como la medición y control de los mismos.</p> <p>Como parte de la ley de protección de Datos a terceros tenemos el aviso de privacidad, donde estos datos tendrán un tratamiento 100% confidencial.</p> <p><strong><u>ENCUESTA:</u></strong></p> <p>1.- Giro Comercial de Empresa.</p> <p>___________________________________</p> <p>2.- Número de Empleados en su organización?</p> <p>___________________________________</p> <p>3.- Ubicación de Centros de trabajo.</p> <p>___________________________________</p> <p>4.- Número de Registros Patronales.</p> <p>___________________________________</p> <p>5.- ¿La empresa cuenta con área de RH Estructurada?</p> <p>_____SI / NO________________________</p> <p>6.- Cuantas personas Están Involucradas en su departamento de Recursos Humanos?</p> <p>___________________________________</p> <p>7.- Con que herramienta calculan la nómina de su personal?</p> <p>_____A)__INTERNO (por Software) /&nbsp; B) EXTERNO (Outsourcing) /_C)&nbsp; AMBAS______________</p> <p><strong><u>INTERNO:</u></strong></p> <p>8.- Ah trabajado alguna vez con algún proveedor de servicios de Recursos Humanos?</p> <p>_____SI/ NO______________________________</p> <p>9.-Cual fue su experiencia?</p> <p>___________________________________</p> <p>¿Ah considerado el tercerizar algún proyecto de Recursos Humanos, si hubiese un proveedor que cumpla todas sus expectativas de precio, servicio y beneficios?</p> <p>_____SI/ NO______________________________</p> <p>9.- Por qué?</p> <p>___________________________________</p> <p>10.- Reclutamiento y selección. ¿Cómo es el proceso?</p> <p>___________________________________</p> <p><strong><u>EXTERNO (Outsourcing).</u></strong></p> <p>8.- ¿Trabaja Actualmente con este proveedor, o solo por temporadas?</p> <p>_____SI/ NO_______DETALLE_______________________</p> <p>9.-Que tipo de proyecto o personal es el que administra con proveedor?</p> <p>(Describir proyecto) _______________________________</p> <p>10.-En una calificación del 1 al 10 que tan satisfecho está con su proveedor en los siguientes temas:</p> <p style="margin-left:35.4pt;">A) SERVICIO _________ POR QUE? ____________</p> <p style="margin-left:35.4pt;">B) PRECIO__________POR QUE? ______________</p> <p style="margin-left:35.4pt;">C) SOPORTE JURIDICO_________POR QUE________</p> <p style="margin-left:35.4pt;">D) SOPORTE FISCAL________POR QUE_________</p> <p>10.- El proveedor les incluye beneficios a los empleados administrados? (EJEMPLO: Seguro de vida, GM, tarjetas descuentos, prestamos de sueldo, etc..)</p> <p>_____SI/ NO_______DETALLE_______________________</p> <p>11.- El proveedor le incluye beneficios a la empresa? (EJEMPLO: Financiamiento, Reclutamiento, etc..)</p> <p>_____SI/ NO_______DETALLE_______________________</p> <p>12.- Nos puede dar el nombre de su proveedor?</p> <p>_____SI/ NO_______DETALLE_______________________</p> <p>13.- En el siguiente rango. ¿Qué porcentaje de cobro tiene su proveedor?</p> <p style="margin-left:35.4pt;">A) INFERIOR AL 4%</p> <p style="margin-left:35.4pt;">B) ENTRE EL 4% Y 6%</p> <p style="margin-left:35.4pt;">C)ENTRE EL 6 Y 8%</p> <p style="margin-left:35.4pt;">D) ENTRE 8 Y 10%</p> <p style="margin-left:35.4pt;">E) MAYOR al 10%</p> <p>CIERRE DE ENCUESTA.</p> <p>Le agradecemos mucho su valioso tiempo, pronto tendrá noticias sobre estos resultados de encuesta para su determinación y uso de su empresa.</p> <p>Me despido su servidor__________ le pido me dé su correo electrónico para este resultado.</p> <p>¡Gracias!</p>
		</div>
		<hr>
		<p>Notas Rápidas</p>
		<textarea class="form-control autosize area-animated msd-elastic: \n;" data-ng-model="bar"></textarea>
		<p><em>* Estas notas no serán almacenadas en el sistema y sólo estarán disponibles durante su sesión</em></p>
	</tab>
	<tab heading="Script Prospección">
		<div class="panel-scroll height-350" perfect-scrollbar wheel-propagation="false" suppress-scroll-x="true">
<p><strong><u>SCRIPT PROSPECCIÓN.</u></strong></p> <p><strong><u>PARTE 1 INTRO.</u></strong></p> <p>Buenos días…..Me comunica con_______.</p> <p>Habla _______ ,&nbsp; de la firma DARHE.</p> <p>En DARHE, somos el <strong>único bróker profesional en México </strong>que se dedica a Recursos Humanos.</p> <p>Con una experiencia de 10 años en el mercado, hemos realizado un análisis contundente, de las mejores ofertas, de Empresas que proveen servicios de recursos humanos.</p> <p>Es decir… represento a una red de proveedores, que trabajan servicios de recursos Humanos. Como ya sabes, los servicios son:</p> <ul> <li>Administración de Personal (Outsourcing).</li> <li>Maquila de Nómina.</li> <li>Reclutamiento y selección.</li> <li>Compensaciones (seguros).</li> <li>Área Jurídica. (Problemáticas con Hacienda e Imss).</li> </ul> <p><strong>Estos proveedores que represento, son lo mejor de lo mejor en México, pues todos ellos cuentan con:</strong></p> <ul> <li>Estructuras financieras solidas (Es decir pueden considerar financiamiento a tu nómina).</li> <li>Tienen cobertura a nivel nacional.</li> <li>Ninguno está en Lista negra de SAT (Esto te dará mucha seguridad).</li> <li>Experiencia de más de 10 años de cada uno de los proveedores.</li> <li>Tengo un proveedor, que cuenta con la certificación iso 9000.</li> <li>Tecnología de punta. ETC..</li> </ul> <p>El modelo que tenemos en DARHE es seguro, confidencial y te <strong>garantizo SIN COSTO para tu empresa. Los mejores precios y beneficios en las propuestas.</strong></p> <p>“<em>Imagínate un modelo de bróker de seguros, donde no es adjudicación, si no tú decides con un análisis, lo más conveniente para tu empresa”.</em></p> <p>A sí mismo, dentro del precio actual que tienes con tu proveedor te incluirán BENEFICIOS para tu empresa y empleados. A un precio preferencial.</p> <p><strong><u>PARTE 2 SONDEO “MAIL/CITA”.</u></strong></p> <p><strong>SI TIENE PROVEEDOR.&nbsp; (previo Investigación).</strong></p> <p><strong>Actualmente sé que trabajas con proveedor (es) de servicios de recursos humanos.</strong></p> <p><strong>Y la intención es evaluar <u>su calidad en precio, servicio y beneficios.</u></strong></p> <p><strong>¿Cómo lo hago?</strong></p> <p><strong>Te reitero de forma GRATUITA SEGURA Y CONFIDENCIAL cotizo tu proyecto de recursos Humanos. Para darte un análisis financiero como entregable. Y ustedes tomarán la decisión sobre la mejor opción de proveedores.</strong></p> <p><strong>SI NO TIENE PROVEEDOR. (previo Investigación).</strong></p> <p><strong>Actualmente sé que llevas tu proceso interno, y la intención es que conozcas las opciones que hay. Las cuales te pueden generar ahorro, integrar beneficios y mejoras a tu organización.</strong></p> <p><strong>SOLICITAR PROYECTO.</strong></p> <p><strong>Para esto necesito por favor, me puedas compartir la nómina ciega, perfiles a reclutar o cualquier proyecto que hoy tengas con tu proveedor, para buscarte mejoras </strong></p> <p><strong>Solicitud de proyecto__________________________________</strong></p> <p><strong>SI / NO.</strong></p> <p><strong><u>Cierre:</u></strong> Me puedes dar tu mail para mandarte más información, o bien, Que dia de la semana te ajusta mejor, para una visita de 10 minutos, donde te platicaremos más al respecto. <strong>Como te comente, de forma segura , confidencial, y SIN COSTO para tu empresa.</strong> (Sacar cita o mandar mail seguimiento).</p> <p><strong>LLENAR CAMPOS DE CITA COMERCIAL.</strong></p>
		</div>
		<hr>
		<p>Notas Rápidas</p>
		<textarea class="form-control autosize area-animated msd-elastic: \n;" data-ng-model="bar"></textarea>
		<p><em>* Estas notas no serán almacenadas en el sistema y sólo estarán disponibles durante su sesión</em></p>
	</tab>
</tabset>
<!-- end: SETTINGS -->
